.titulo-history{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.history-section{
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 90vh;
}


.history-card{
 width: 90%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap: 20px;
 
}

.history-card-img-container{
 
 width: 50%;
}

.history-card-img-container img{
  width: 75%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.texto-history{

  width: 50%;
  text-align: justify;
  font-size: 2rem;
    color: #555;
    line-height: 1.6;
    
}

.texto-history span{
  font-weight: 600;
}

@media (max-width: 900px) {

.history-card{
  flex-direction: column;
}

.history-card-img-container{
  width: 90%;
}

.history-card-img-container img{
  width: 100%;

}

.texto-history{
  width: 100%;
}
}