:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;}

    /*
    colores: 
    primario: #1e60baff
    secundario: #0d160bff
    terciario: #afbbf2ff
    light-text: #e4fde1ff
    quinto: #b8e2c8ff
    */